*{
	margin: 0;
	padding: 0;
	font-family: "Julius Sans One", sans-serif;
}
.display{
	width: 100%;
	height: 100vh;
	background-image: url(dylan-nolte-SH_IjrKwG8c-unsplash.jpg);
	background-size: cover;
}
nav{
	width:100%;
	height: 50px;
	background-color: #0005;
	line-height: 50px;
}
nav ul{
	float: left;
	margin-right: 30px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.7s all;
}
nav ul li:hover{
	background-color: #f3ac98;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 30px;
}
.display .text{
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
.text p{
	text-decoration: none;
	font-family: "La Belle Aurore",serif;
	color: #fff;
	font-size: 70px;
}
.img{
	display: block;
	text-align: center;
}
.display .text1{
	position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
.text1 p{
	text-decoration: none;
	font-family: "Julius Sans One", sans-serif;
	color: #fff;
	font-size: 15px;
}